body{
    
    width: 50%;
    margin: 0 auto;


}
table{
    width: 50em;
    height: 60em;
}

.black{
    background: black;
}
.marronf{
    background: #42291c
}
.marronc{
    background: #857671;
}
.beige{ 
    background: burlywood;
}
.beigef{
    background: #ff8364;
}
.vertf{
    background: green;
    
}