body{

    width: 80%;
    margin: 10px auto; /* marge haut et bas/ auto => navigateur centre automatiquement le body à l'ecran */
    font-family: cursive;

}
#contenu{
    background: red;
    border: 2px solid black;

}

header, footer{
    height: 80px;
    background: violet;
    color: white;
    text-align: center;
    padding-top: 6px; /* marge interieur */
}

nav{
    height: 40px;
    background: crimson;
    color: white;
    padding-left: 20px;/* EMMET padding-left =>pl + tab*/
    padding-top: 6px;/* EMMET padding-top => pt + tab*/

}
main{
    border: 20px solid brown;
    background: #e6e2af;
    height: 500px;
    text-align: center;
    
}