body{
    font-family: sans-serif;
    font-size: 1.5em;

}
ul{
    /*selectionne toutes les balises <ul>*/
    list-style: none; /* supprime les puces*/
    float: left;
    margin: 0; /* marge exterieures*/
    padding: 0; /* marge interieures*/
}
.left, .right{
    margin-top: 5em;

}
.left ul{/* les <ul> qui ont un parent direct ayant la classe .left*/
    margin: 3.2em 0 0 0;


}
.left ul li{/* tous les <li> de la liste <ul> ayant la classe .left en parent */

    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ccc;
    padding: 1em;
    width: 10em;

}
.left ul li:first-child{ /* le premier <li> uniquement */
    border-top: 1px solid #ccc;

}
/* ====== FIN 1ère COLONNE===== */

ul.liste li{/* tous les <li> de la liste <ul> qui a la classe .liste*/

    border-left: 1px solid #ccc;
}

.right .change ul li{ /* tous les <li> de la liste <ul> qui a la classe .change elle même enfant de la class .right */
    border-top: 1px solid #ccc;
    border-right: 1px solid #cccccc;
    padding: 1em;
    width: 10em;
    text-align: center;


}

.right .change ul li:first-child{
    background-color: #d5d5d5;
    color: #fff;
    font-weight: bold; /* epaisseur de la police */
}

.right .change ul li:last-child{
    border-bottom: 1px solid #ccc;
}

/* ===== FIN MISE EN FORME DU TABLEAU */

/* EFFETS DE TRANSITION AU SURVOL DE LA SOURIS : hover======*/

.right .change ul:hover{
    background: linear-gradient(#d5d5d5, #8a8a8a); /* dégradé de haut en bas */
    cursor: pointer; /* change l'aspect du curseur */
    transform: scale(1.4); /* transform applique un effet 2D et scale() corespond à l'echelle du zoom ainsi obtenu par rapport à la taille d'origine*/
    transition-duration: 2s; /* durée de l'animation */
}

.right .change ul:hover li:first-child{
    background-color: #000;
    
}